{% extends 'Base_Sample.html' %}
{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> &rsaquo; Session list</div>

{% if request.user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'add_session' %}"><i class="fas fa-plus"></i>Add New Session</a>
{% endif %}

<div class="title-1"><i class="fas fa-calendar-week-alt"></i>Session List</div>
<div class="title-line"></div>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            <i class="fas {% if message.tags == 'error' %}fa-exclamation-circle{% else %}fa-check-circle{% endif %}"></i>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="table-responsive p-0 mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th> Session </th>
                <th> Is Current Session </th>
                <th> Next Session Begins </th>
                {% if request.user.is_superuser %}
                <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ session.session }}</td>
                <td>
                    {% if session.is_current_trimester == true %}
                    <span class="badge badge-success">Yes</span>
                    {% else %}
                    <span class="badge badge-danger">No</span>
                    {% endif %}
                </td>
                <td>{{ session.next_session_begins }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="d-flex">
                        <a href="{% url 'edit_session' pk=session.pk %}" class="btn btn-primary btn-sm mr-2"
                            title="Edit">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                        <a href="{% url 'delete_session' pk=session.pk %}" class="btn btn-danger btn-sm"
                            title="Delete">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td colspan="6">
                    <span class="text-danger">
                        <i class="far fa-frown"></i>No Session.
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_session' %}" class="btn btn-primary ml-2">Add Session Now.</a>
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
