{% extends 'Base_Sample.html' %}
{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a> <i>&rsaquo;</i> 
    <a href="{% url 'programs' %}" class="primary1">Programs</a> <i>&rsaquo;</i> Add</div>
<br>

{% if messages %}
    {% for message in messages %}
        <div class="{% if message.tags == 'error' %}errornote{% else %}successnote{% endif %}">
            <i class="fas {% if message.tags == 'error' %}fa-exclamation-circle{% else %}fa-check-circle{% endif %}"></i>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="row">
<div class="col-md-6 mx-auto">
    <div class="card">
        <p class="form-title"><h4>Program Add Form</h4>
        <div class="p-3"><br>
            <form action="" method="POST">{% csrf_token %}
                <div class="form-group">
                    <b>{{ form.title.label }}</b>{{ form.title }}
                    <span class="danger">{{ form.title.errors }}</span>
                </div>
                <div class="form-group">
                    <b>{{ form.summary.label }}</b>{{ form.summary }}
                    <span class="danger">{{ form.summary.errors }}</span>
                </div>

                <input class="btn btn-outline-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}
